*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #e9a972;
    background-image: url(img/albert.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calculadora{
    background-color: #F5CBA7;
    color: rgb(27, 32, 36);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
    margin-top: 20px;
    
    
}

.pantalla{
    grid-column: 1 / -1;
    background-color: #F9F5F2;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    
}

.btn{
    background-color: aliceblue;
    color: rgb(27, 32, 36);
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    background-color:#868580;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: #8a7e7eb0;

}

#igual:hover{
    background-color: #777671;
}



